<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>1087334159115-tcn28593lko2do232kgeje4a3rfuevh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087334159115-tcn28593lko2do232kgeje4a3rfuevh9</string>
	<key>API_KEY</key>
	<string>AIzaSyAFqgq-8oovNiz9yuoH1UtnHf3ii5pe96k</string>
	<key>GCM_SENDER_ID</key>
	<string>1087334159115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abrar.HugPetApplications2</string>
	<key>PROJECT_ID</key>
	<string>hugpets-77b31</string>
	<key>STORAGE_BUCKET</key>
	<string>hugpets-77b31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087334159115:ios:dec5b64147732d1701080e</string>
</dict>
</plist>
